replicaCount: 1

image:
  repository: notification-service
  tag: "0.0.1"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8080

env:
  SPRING_PROFILES_ACTIVE: k8s
  SPRING_RABBITMQ_HOST: rabbitmq
  SPRING_RABBITMQ_PORT: "5672"
  SPRING_RABBITMQ_USERNAME: rabbit
  SPRING_RABBITMQ_PASSWORD: rabbit
  MAIL_HOST: mailhog
  MAIL_PORT: "1025"
