catalog-service:
  image:
    repository: rrajo-portfolio/catalog-service
    tag: latest
  env:
    SPRING_PROFILES_ACTIVE: k8s
    SPRING_DATASOURCE_URL: jdbc:mysql://mysql-catalog:3306/catalogdb
    SPRING_DATASOURCE_USERNAME: catalog_user
    SPRING_DATASOURCE_PASSWORD: catalog_pass
    SPRING_ELASTICSEARCH_URIS: http://elasticsearch:9200
    SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI: http://keycloak:8080/realms/portfolio
    SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092
    CATALOG_EVENTS_TOPIC: catalog-product-events
    SERVER_PORT: "8080"

users-service:
  image:
    repository: rrajo-portfolio/users-service
    tag: latest
  env:
    SPRING_PROFILES_ACTIVE: k8s
    SPRING_DATASOURCE_URL: jdbc:mysql://mysql-users:3306/usersdb
    SPRING_DATASOURCE_USERNAME: users_user
    SPRING_DATASOURCE_PASSWORD: users_pass
    SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI: http://keycloak:8080/realms/portfolio
    SERVER_PORT: "8080"

orders-service:
  image:
    repository: rrajo-portfolio/orders-service
    tag: latest
  env:
    SPRING_PROFILES_ACTIVE: k8s
    SPRING_DATASOURCE_URL: jdbc:mysql://mysql-orders:3306/ordersdb
    SPRING_DATASOURCE_USERNAME: orders_user
    SPRING_DATASOURCE_PASSWORD: orders_pass
    SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI: http://keycloak:8080/realms/portfolio
    SERVICES_USERS_BASE_URL: http://users-service:8080/api
    SERVICES_CATALOG_BASE_URL: http://catalog-service:8080/api
    SPRING_RABBITMQ_HOST: rabbitmq
    SPRING_RABBITMQ_PORT: "5672"
    SPRING_RABBITMQ_USERNAME: rabbit
    SPRING_RABBITMQ_PASSWORD: rabbit
    ORDERS_NOTIFICATION_ENABLED: "true"
    SERVER_PORT: "8080"
gateway-service:
  image:
    repository: rrajo-portfolio/gateway-service
    tag: latest
  env:
    SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI: http://keycloak:8080/auth/realms/portfolio/protocol/openid-connect/certs
    SECURITY_OAUTH2_EXPECTED_ISSUER: http://keycloak:8080/auth/realms/portfolio
    GATEWAY_CATALOG_URI: http://catalog-service:8080
    GATEWAY_USERS_URI: http://users-service:8080
    GATEWAY_ORDERS_URI: http://orders-service:8080
  ingress:
    enabled: true
    className: nginx
    host: gateway.localtest.me
    path: /
notification-service:
  image:
    repository: rrajo-portfolio/notification-service
    tag: latest
  env:
    SPRING_RABBITMQ_HOST: rabbitmq
    SPRING_RABBITMQ_PORT: "5672"
    SPRING_RABBITMQ_USERNAME: rabbit
    SPRING_RABBITMQ_PASSWORD: rabbit
    MAIL_HOST: mailhog
    MAIL_PORT: "1025"
frontend-service:
  image:
    repository: rrajo-portfolio/frontend-service
    tag: latest
  env:
    API_URL: http://gateway.localtest.me:8080
    KEYCLOAK_URL: http://gateway.localtest.me:8080/auth
    KEYCLOAK_REALM: portfolio
    KEYCLOAK_CLIENT_ID: portfolio-frontend
  ingress:
    enabled: true
    className: nginx
    host: frontend.localtest.me
    path: /
